<div id="deleted">
  <%= flash[:success] %>
</div>


<div id="content">
  <h1> <%= @topic.name %> </h1>

<%= link_to 'Add new resource to topic', new_topic_content_path(@topic) %>

  <ul>
    <% @topic.contents.each do |content| %>
      <li>
        <%= content.resource %>
        <%= link_to "Edit", edit_topic_content_path(@topic, content), id: "content_#{content.id}" %>
        <%= link_to "Delete", topic_content_path(@topic, content), method: :delete, data: { confirm: "You sure you wanna delete this resource??" }%>
        <br><br>
      </li>
    <% end %>
  </ul>
</div>


<div id="student_links">


</div>




<div id="link">
  <%= link_to "Return back to Programming Topics", topics_path %>
</div>
