  <h3> <%= @topic.name %> </h3>

  <ul>
    <% @topic.contents.each do |content| %>
      <li>
        <%= content.resource %> <%= link_to "Edit", edit_topic_content_path(@topic, content) %> <br><br>
      </li>
    <% end %>
  </ul>

<%= link_to 'Add new resource to topic', new_topic_content_path(@topic) %>

<div id="link">
  <%= link_to "Return back to Programming Topics", topics_path %>
</div>
